In [7]:
import pandas as pd
import numpy as np

In [11]:
df1 = pd.read_csv('../data/plastic-pollution.csv')
df2 = pd.read_csv('../data/armed-forces-personnel.csv')
print(f"file containing nan value: {df1.isnull().values.any()}")
print(f"file containing nan value: {df2.isnull().values.any()}")

print(f'Data Fram 1: {len(df1)}')
print(f'Data Fram 2: {len(df2)}')

df1 = df1.dropna()
df2 = df2.dropna()

file containing nan value: True
2340

In [9]:
df1.head()

,Waste exports,Waste imports,Waste re-exports,Waste re-imports,Waste net exports,Waste exports per capita,Waste imports per capita,Net exports per capita,Waste re-exports per capita,Waste re-imports per capita,Share global exports,Share global imports,Share global re-exports,Share global re-imports,Entity,Year
3,37099.550,50016.0,1.0,20.0,8637.0,0.046398,0.062552,0.010802,0.000002,0.000026,0.280904,0.350548,0.000041,0.248512,Africa,2008
6,74789.043,39095.0,13.0,40.0,20290.0,0.089019,0.046533,0.024151,0.000015,0.000048,0.514802,0.241083,0.000489,4.288261,Africa,2011
7,96283.510,42108.0,7.0,55.0,60555.0,0.107117,0.046846,0.067369,0.000008,0.000061,0.649650,0.262942,0.000249,3.740578,Africa,2012
8,123063.385,50993.0,71.0,199.0,72861.0,0.133307,0.055239,0.078926,0.000077,0.000216,0.974883,0.340583,0.005356,14.005412,Africa,2013
9,137676.983,117330.0,5.0,30.0,20463.0,0.150196,0.128000,0.022325,0.000005,0.000033,0.968568,0.769147,0.000168,1.447889,Africa,2014

In [ ]:
df2.head()

In [10]:
print(f"file containing nan value: {df1.isnull().values.any()}")
print(f"file containing nan value: {df2.isnull().values.any()}")


print(f'Data Fram 1: {len(df1)}')
print(f'Data Fram 1: {len(df2)}')

file containing nan value: False
170