In [36]:
import pandas as pd
import numpy as np

Looking at data sets tha could work for the assignment...

Helpers:
```py
# split column
str.split(',', expand=True)

# Trimming
.strip()

# linking
.join()
.merge()
.concat()
```

Info:
- Pivot tables good to use to see if the data is good or not (pandas)
- merging data sets
    - problems, not the same
    - need some common poit to merge on
    - inner join, left outer join, full outer join

In [37]:
df1 = pd.read_csv('../data/plastic-pollution.csv')
df2 = pd.read_csv('../data/armed-forces-personnel.csv')
df3 = pd.read_csv('../data/number-of-deaths-by-risk-factor.csv')
df4 = pd.read_csv('../data/annual-number-of-deaths-by-cause.csv')

print(f"file containing nan value: {df1.isnull().values.any()}")
print(f"file containing nan value: {df2.isnull().values.any()}")
print(f"file containing nan value: {df3.isnull().values.any()}")
print(f"file containing nan value: {df4.isnull().values.any()}")

print(f'Data Fram 1: {len(df1)}')
print(f'Data Fram 2: {len(df2)}')
print(f'Data Fram 3: {len(df3)}')
print(f'Data Fram 4: {len(df4)}')

df1 = df1.dropna()
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()

file containing nan value: True
file containing nan value: True
file containing nan value: True
file containing nan value: True
Data Fram 1: 2340
Data Fram 2: 5659
Data Fram 3: 6840
Data Fram 4: 7273

In [38]:
df1.head()

,Waste exports,Waste imports,Waste re-exports,Waste re-imports,Waste net exports,Waste exports per capita,Waste imports per capita,Net exports per capita,Waste re-exports per capita,Waste re-imports per capita,Share global exports,Share global imports,Share global re-exports,Share global re-imports,Entity,Year
3,37099.550,50016.0,1.0,20.0,8637.0,0.046398,0.062552,0.010802,0.000002,0.000026,0.280904,0.350548,0.000041,0.248512,Africa,2008
6,74789.043,39095.0,13.0,40.0,20290.0,0.089019,0.046533,0.024151,0.000015,0.000048,0.514802,0.241083,0.000489,4.288261,Africa,2011
7,96283.510,42108.0,7.0,55.0,60555.0,0.107117,0.046846,0.067369,0.000008,0.000061,0.649650,0.262942,0.000249,3.740578,Africa,2012
8,123063.385,50993.0,71.0,199.0,72861.0,0.133307,0.055239,0.078926,0.000077,0.000216,0.974883,0.340583,0.005356,14.005412,Africa,2013
9,137676.983,117330.0,5.0,30.0,20463.0,0.150196,0.128000,0.022325,0.000005,0.000033,0.968568,0.769147,0.000168,1.447889,Africa,2014

In [39]:
df2.head()

        Entity Code  Year  Armed forces personnel, total
0  Afghanistan  AFG  1985                          47000
1  Afghanistan  AFG  1989                          55000
2  Afghanistan  AFG  1990                          58000
3  Afghanistan  AFG  1991                          45000
4  Afghanistan  AFG  1992                          45000

In [40]:
df3.head()

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [41]:
df4.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0

In [42]:
print(f"file containing nan value: {df1.isnull().values.any()}")
print(f"file containing nan value: {df2.isnull().values.any()}")
print(f"file containing nan value: {df3.isnull().values.any()}")
print(f"file containing nan value: {df4.isnull().values.any()}")


print(f'Data Fram 1: {len(df1)}')
print(f'Data Fram 2: {len(df2)}')
print(f'Data Fram 3: {len(df3)}')
print(f'Data Fram 4: {len(df4)}')

file containing nan value: False
file containing nan value: False
file containing nan value: False
file containing nan value: False
Data Fram 1: 170
Data Fram 2: 5217
Data Fram 3: 6150
Data Fram 4: 176